################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NorthwindApiSampler/bin
/NorthwindApiSampler/obj
/NorthwindApiSampler/NorthwindApiSampler.csproj.user
/NorthwindGrpcClient/bin
/NorthwindGrpcClient/obj
/NorthwindGraphQLClient/bin
/NorthwindGraphQLClient/obj
