################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NorthwindApiSampler
/NorthwindApiSampler/bin/Debug/netcoreapp3.0
/NorthwindApiSampler/obj
/NorthwindApiSampler/NorthwindApiSampler.csproj.user
/NorthwindApiSampler/bin/Debug/netcoreapp3.1
/NorthwindGrpcClient/bin/Debug/netcoreapp3.1
/NorthwindGrpcClient/obj
/.vs
/NorthwindGraphQLClient/bin/Debug/netcoreapp3.1
/NorthwindGraphQLClient/obj
