<div class="container py-3">
    <div class="alert alert-info">
        <h4 class="alert-heading">Welcome to a sample of technology for REST, GraphQL, a gRPC API techniques using Northwind on Postgres!</h4>
        This web application exposes a Swagger UI and doc for a REST-style API, a GraphQL endpoint and a playground, and (coming shortly) a gRPC service
        all for information in a Northwind database running in Postgres.        
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">REST / JSON</h4>
                    <ul>
                        <li>Well-known and simple for consumers</li>
                        <li>Easy to troubleshoot and test</li>
                        <li>Make it do whatever you want</li>
                    </ul>
                    <h6>Key use cases</h6>
                    <ul>
                        <li>JavaScript / TypeScript clients</li>
                        <li>Web applications</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">GraphQL</h4>
                    <ul>
                        <li>Give consumers what they need/want and nothing more</li>
                        <li>Can alias fields to your liking/shape</li>
                        <li>In-the box support for separation of reads and writes, as well as subscription support for changes</li>
                    </ul>
                    <h6>Key use cases</h6>
                    <ul>
                        <li>Open, dynamic querying of larger datasets</li>
                        <li>JavaScript / TypeScript clients</li>
                        <li>Web applications</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">gRPC</h4>
                    <ul>
                        <li>Very efficient on wire</li>
                        <li>Based on strict contract</li>
                        <li>Secure by default</li>
                        <li>Uni- and bi-directional streaming</li>
                    </ul>
                    <h6>Key use cases</h6>
                    <ul>
                        <li>Service-to-service calls (BFF to back end, API gateways)</li>
                        <li>IoT devices</li>
                        <li>Inside microservices</li>
                        <li>Native mobile apps</li>
                        <li>Partner-to-partner (B2B) communication</li>
                    </ul>
                    <div class="alert alert-warning">Note!  Requires HTTP/2 TLS/SSL.  Will not run in IIS or IIS Express.</div>
                </div>
            </div>
        </div>
    </div>
    <h3 style="padding-top: 15px;">Sample GraphQL queries to try</h3>

    <div class="row">

        <card>
            <div class="card-body">
                <h5 class="card-title">Get a list of customers (only customer id, company name, and contact name</h5>
<pre>
{
  customers {
    customerId, 
    companyName,
    contactName
  }
}
</pre>
            </div>
        </card>
    </div>
</div>
