<div class="container py-3">
    <div class="alert alert-info">
        <h4 class="alert-heading">Welcome to a sample of technology for REST, GraphQL, a gRPC API techniques using Northwind on Postgres!</h4>
        This web application exposes a Swagger UI and doc for a REST-style API, a GraphQL endpoint and a playground, and (coming shortly) a gRPC service
        all for information in a Northwind database running in Postgres.        
    </div>

    <div class="row">
        <div class="col md-4">
            <h5>REST / JSON</h5>
            <ul>
                <li>Well-known and simple for consumers</li>
                <li>Easy to troubleshoot and test</li>
                <li>Make it do whatever you want</li>
            </ul>
        </div>
        <div class="col md-4">
            <h5>GraphQL</h5>
            <ul>
                <li>Give consumers what they need/want and nothing more</li>
                <li>Can alias fields to your liking/shape</li>
                <li>In-the box support for separation of reads and writes, as well as subscription support for changes</li>
            </ul>
        </div>
        <div class="col md-4">
            <h5>gRPC</h5>
            <ul>
                <li>Very efficient on wire</li>
                <li>Based on strict contract</li>
            </ul>
        </div>
    </div>
    
    <h3 style="padding-top: 15px;">Sample GraphQL queries to try</h3>

    <div class="row">

        <card>
            <div class="card-body">
                <h5 class="card-title">Get a list of customers (only customer id, company name, and contact name</h5>
<pre>
{
  customers {
    customerId, 
    companyName,
    contactName
  }
}
</pre>
            </div>
        </card>


    </div>
</div>
